<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.itrd.core.mapper.LimsSummaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.h3c.itrd.core.entity.LimsSummaryDO">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="quarter" property="quarter" />
        <result column="score" property="score" />
        <result column="qihou_num" property="qihouNum" />
        <result column="halt_num" property="haltNum" />
        <result column="emc_num" property="emcNum" />
        <result column="baocai_num" property="baocaiNum" />
        <result column="angui_num" property="anguiNum" />
        <result column="luoji_num" property="luojiNum" />
        <result column="zaosheng_num" property="zaoshengNum" />
        <result column="other_num" property="otherNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account, quarter, score, qihou_num, halt_num, emc_num, baocai_num, angui_num, luoji_num, zaosheng_num, other_num
    </sql>

</mapper>
