<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.itrd.core.mapper.NoticeReadRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.h3c.itrd.core.entity.NoticeReadRecordDO">
        <id column="id" property="id" />
        <result column="employee_id" property="employeeId" />
        <result column="notice_id" property="noticeId" />
        <result column="is_read" property="isRead" />
        <result column="readdate" property="readdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, employee_id, notice_id, is_read, readdate
    </sql>

</mapper>
