<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.itrd.core.mapper.SharedocinfoListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.h3c.itrd.core.entity.SharedocinfoListDO">
        <id column="id" property="id" />
        <result column="DocumentCode" property="DocumentCode" />
        <result column="DocumentMainType" property="DocumentMainType" />
        <result column="Applicant" property="Applicant" />
        <result column="LastModifyDate" property="LastModifyDate" />
        <result column="DepartmentLevel1" property="DepartmentLevel1" />
        <result column="DepartmentLevel2" property="DepartmentLevel2" />
        <result column="DepartmentLevel3" property="DepartmentLevel3" />
        <result column="EvaluationLevel" property="EvaluationLevel" />
        <result column="TechContributionScore" property="TechContributionScore" />
        <result column="MainBusiness" property="MainBusiness" />
        <result column="SubBusiness" property="SubBusiness" />
        <result column="DocumentSubType" property="DocumentSubType" />
        <result column="sync_status" property="syncStatus" />
        <result column="sync_time" property="syncTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, DocumentCode, DocumentMainType, Applicant, LastModifyDate, DepartmentLevel1, DepartmentLevel2, DepartmentLevel3, EvaluationLevel, TechContributionScore, MainBusiness, SubBusiness, DocumentSubType, sync_status, sync_time
    </sql>
	<sql id="conditon_sql">
		<trim suffixOverrides=",">
			DocumentMainType=#{item.DocumentMainType},
			Applicant=#{item.Applicant},
			LastModifyDate=#{item.LastModifyDate},
			DepartmentLevel1=#{item.DepartmentLevel1},
			DepartmentLevel2=#{item.DepartmentLevel2},
			DepartmentLevel3=#{item.DepartmentLevel3},
			EvaluationLevel=#{item.EvaluationLevel},
			TechContributionScore=#{item.TechContributionScore},
			MainBusiness=#{item.MainBusiness},
			SubBusiness=#{item.SubBusiness},
			DocumentSubType=#{item.DocumentSubType},
			<if test="item.syncStatus !=null">
				sync_status=#{item.syncStatus},
			</if>
			<if test="item.syncTime !=null">
				sync_time=#{item.syncTime},
			</if>
		</trim>
	</sql>
	<update id="batchUpdateShareDocInfo" parameterType="list">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update sharedocinfo_list set
			<include refid="conditon_sql"></include>
			where id IN (select sharedocList.id from (
			SELECT id from sharedocinfo_list where
			DocumentCode=#{item.DocumentCode}) sharedocList)
		</foreach>
	</update>
	<insert id="batchInsertShareDocInfo" parameterType="list">
		<foreach collection="list" item="item" index="index" open=""
			close="" separator=";">
			insert into sharedocinfo_list
			(DocumentCode,
			DocumentMainType,
			Applicant,
			LastModifyDate,
			DepartmentLevel1,
			DepartmentLevel2,
			DepartmentLevel3,
			EvaluationLevel,
			TechContributionScore,
			MainBusiness,
			SubBusiness,
			DocumentSubType,
			sync_status,
			sync_time)
			select * from (select #{item.DocumentCode} as DocumentCode,
			#{item.DocumentMainType} as DocumentMainType,
			#{item.Applicant} as Applicant,
			#{item.LastModifyDate} as LastModifyDate,
			#{item.DepartmentLevel1} as DepartmentLevel1,
			#{item.DepartmentLevel2} as DepartmentLevel2,
			#{item.DepartmentLevel3} as DepartmentLevel3,
			#{item.EvaluationLevel} as EvaluationLevel,
			#{item.TechContributionScore} as TechContributionScore,
			#{item.MainBusiness} as MainBusiness,
			#{item.SubBusiness} as SubBusiness,
			#{item.DocumentSubType} as DocumentSubType,
			#{item.syncStatus} as sync_status,
			#{item.syncTime} as sync_time) as tmp
			where not exists (SELECT 1 FROM sharedocinfo_list b WHERE
			b.DocumentCode=#{item.DocumentCode})
		</foreach>
	</insert>
</mapper>
